.profile__avatar-edit-button{
    width: 26px;
    height: 26px;
    position: absolute;
    top: calc(50% - 13px);
    right: calc(50% - 13px);
    opacity: 0;
    z-index: 3;
    transition-duration: .2s;
    transition-property: all;
}