.header__link{
    text-decoration: none;
    justify-content: space-between;
    color: #FFF;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    margin: 0;
    transition: opacity .3s;
    max-height: 20px;
}

.header__link:last-of-type{
    margin-left: 16px;
}

.header__link:hover{
    opacity: .7;
}