.profile__edit-button{
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #FFF;
    margin-top: 15px;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../../../images/editButtonIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
}

.profile__edit-button:hover{
    opacity: 0.6;
}

@media screen and (max-width: 691px) {
    .profile__edit-button{
        margin: 0;
        align-self: center;
        position: absolute;
        right: 8px;
    }
}

@media screen and (max-width: 619px) {
    .profile__edit-button{
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}