.authentification__email{
    background-color: transparent;
    margin-bottom: 30px;
    min-height: 27px;

    border: none;
    border-bottom: 2px solid #CCC;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left; 
    color: #FFF;
}

.authentification__email:focus{
    outline: none;
}