.popup__container_type_image{
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 18%;
    max-width: 75vw;
    max-height: 75vh;
    justify-content: center;
}

@media screen and (max-width: 619px){
    .popup__container_type_image{
        margin: 0 40px;
    }
}
